<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="app no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="app no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="app no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="app no-js"> <!--<![endif]-->

<head>
    <title>{{ title }}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">


    <link rel="stylesheet" type="text/css" media="screen"
          href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap-theme.min.css"
            >
    <link rel="stylesheet" type="text/css" media="screen"
          href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css"
            >

</head>
<body>



<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <header class="page-header">
                <h1>{{ title }}</h1>
            </header>
        </div>

    </div>

    {{> body }}
</div>


</body>
</html>